.navBtn {
    border-bottom: dashed 3px rgba(0, 32, 63, 0);
    transition: 0.2s ease-in-out;
    padding: 0px 1vw;
}

.navBtn:hover {
    border-bottom: solid 3px var(--on-hover);
    color: var(--on-hover);
}

.dropBtns {
    display: none;
}

#menuIcon {
    cursor: pointer;
}